.wrap{
    position: relative;
}
.campDetail{
    padding: 0.5rem;
    font-size: 0.6rem;
    width: 15rem;
    border-bottom: 10px solid #eee;
}
.campDetail span{
    line-height: 1rem;
    word-wrap:break-word;
    width: 98%;
    display: block;
}
.campDetail .title{
    color: #00bfff;
}
.campDetail .price{
    color: #f00;
}
.campDetail .title{
    display: -webkit-box;
// -webkit-box-orient;
    overflow : hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.detailCon{
    margin-bottom: 1.5rem;
    width: 16rem;
    border-bottom: 10px solid #eee;
}
.detailList{
    font-size: 0.6rem;
}
.camp_title{
    width: 15rem;
    padding:0 0.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border-bottom: 1px solid #eee;
}
.camp_content{
    color: #999;
    padding: 0.5rem;
    width: 15rem;
    font-size: 0.5rem;
}
.log_in{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 16rem;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.6rem;
    color: #fff;
    border: none;
    background: green;
}