//轮播图
.slider{
	position: relative;
	width: 20rem;
	height: 5rem;
}
.slide_box{
	position: absolute;
	left: 0;
	top: 0;
	width: 64rem;
	height: 9rem;
}
.slide_box li{
	width: 16rem;
	height: 100%;
	float: left;
}
.slide_box img{
	width: 100%;
	height: 100%;
}