.header{
    position: fixed;
    top:0;
    left:0;
    z-index: 10;
    background: rgba(0,0,0,0.4);
    width: 16rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.8rem;
    color: #fff;
}
.header .logo{

}
.header .search{
    width: 8rem;
    height: 1.5rem;
    font-size: 0.8rem;
}
.header .login{
    color: #fff;
    font-size: 0.7rem;
}