
.content{
	background-color: #E3E3E3;
	width: 100%;
	height: 100%;
}
.daohang {
	width: 100%;
	height: 1.4rem;
	background-color: #BFBFBF;
	text-align: center;	
}
.goback {
	width: 0.7rem;
	height: 1.3rem;
	background: url(../img/sprites.png) no-repeat; 
	background-position: -42px 19px;
	display: inline-block;
	float:left;
	margin:0px 0.1rem;
}
.registerChar {
	height: 1.3rem;
	line-height: 1.3rem;
	font-size: 0.7rem;
	letter-spacing: 0.2rem;
	margin:0 auto;
	text-align: center;
}
input {
	width: 70%;
	height: 1.6rem;
	margin: 0.2rem 0.2rem;
	font-size: 0.6rem;
}
button {
	width:25%;
	height: 1.6rem;
	font-size: 0.6rem; 
	border: 1px solid #fff;
}
.long {
	width: 97%;
	margin:0.2rem 0.2rem;
}
.textInDistance {
	letter-spacing: 1.6rem;
	text-align: center;
}
.verify {
	width:25%;
	height:1.6rem;
	margin:0.2rem 0.1rem 0.1rem 0rem;
}
.ban {
	width: 47%;
	height: 1.6rem;
	margin: 0.1rem 0.2rem;
	
}
.login_error {
	width: 98%;
	height: 1rem;
	margin: 0.2rem 0.1rem;
}
.login_error_text{
	color: red;
	display: none;
}
.passReset {
	float: right;
	margin: 0rem 0.3rem;
	font-size: 0.5rem;
}
