.campDetail{
    padding: 0.5rem;
    font-size: 0.6rem;
    width: 15rem;
    border-bottom: 10px solid #eee;
}
.campDetail span{
    line-height: 1rem;
    word-wrap:break-word;
    width: 98%;
    display: block;
}
.campDetail .title{
    color: #00bfff;
}
.campDetail .price{
    color: #f00;
}
.campDetail .title{
    display: -webkit-box;
// -webkit-box-orient;
    overflow : hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.trade{
    padding: 0.5rem;
    width: 15rem;
    font-size: 0.6rem;
    line-height: 1rem;
    border-bottom: 10px solid #eee;
}
.trade p{
    margin-top: -0.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border-bottom: 1px solid #ccc;
}
.trade span span{
    width: 7rem;
    padding-top: 0.4rem;
}
.reduce,.add,.num{
    width: 2rem;
    height: 1rem;
    line-height: 1rem;
    display: inline-block;
    text-align: center;
    font-size: 0.6rem;
    border: 1px solid #eee;
}
span input{
    width: 0.6rem;
    height: 0.6rem;
}
.mark{
    width: 15rem;
    display: block;
}
.trade textarea{
    width: 15rem;
    height: 4rem;
    font-size: 0.6rem;
    border: 1px solid #eee;
}
.comfirm{
    width: 16rem;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.6rem;
    color: #fff;
    background: green;
}