<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/base.css">
	<title>分享</title>
	<link rel="stylesheet" type="text/css" href="css/register.css">
	<link rel="stylesheet" type="text/css" href="css/share.css">
	<script src="script/js/rem.js"></script>
	<script src="script/utils/jquery.min.js"></script>
	<script src="script/utils/jsrender.min.js"></script>
	<script src="script/utils/common.js"></script>
	<script src="script/js/share.js"></script>
</head>
<body>
	<div class="content" id="wrap">
		<div class="daohang">
			<span class="registerChar">分享</span>
		</div>
		<div class="shareList">
			<ul id="shareListUl">
				
			</ul>
		</div>
	</div>
	<script type="text/x-jsrender" id="shareListTmp">
		<li>
			<span class="UlSpanText fontBold">
			{{:title}}
			</span>
			{{if #data.shareType==1}}
			<span class="UlSpanShareType backgroundColorGreen">
				视频
			</span>
			<span>
				{{:detail}}
			</span>
			{{else}}
			<span class="UlSpanShareType backgroundColorRed">
				图片
			</span>
			<span>
				<img src="{{:image_first}}"
				>
				{{if image_sec}}<img src="{{:image_sec}}">{{/if}}
				{{if image_third}}<img src="{{:image_third}}">{{/if}}
			</span>
			{{/if}}
			<a href="shareContent.html?id={{:id}}" class="lookDetail">查看详情 >></a>
		</li>
	</script>
	<script type="text/x-jsrender" id="shareListImgTmp">
		<li>
			<div>
				<span class="UlSpanDivText clearfix">
					<span class="UlSpanText fontBold">
					{{:title}}
					</span>
					<span class="UlSpanShareType backgroundColorRed">
						图片
					</span>
					<img src="{{:image_first}}"
					>
					<img src="{{:image_sec}}"
					>
					<img src="{{:image_third}}"
					>
					<span class="lookDetail">
						<a href="shareContent.html?id={{:id}}">查看详情 >></a>
					</span>
				</span>
			</div>
		</li>
	</script>
</body>
</html>