<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iOutDoor+</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/user.css">
    <script src="script/js/rem.js"></script>
    <script src="script/utils/jquery.min.js"></script>
    <script src="script/utils/jsrender.min.js"></script>
    <script src="script/utils/common.js"></script>
    <!-- <script src="build/appframework.ui.min.js"></script> -->
    <script src="script/js/user.js"></script>
</head>
<body>
	<header class="userCon clearfix">
		<span class="avator fl">
			<img src="img/head.jpg" alt="">
		</span>
		<span class="username fl">
		</span>
		<span class="login fl" style="display: none;"><a href="login.html">登录</a></span>
	</header>
	<div class="myOrder">我的订单</div>
	<section class="orderBox">
		<p class="orderNone" style="display: none;">暂无订单</p>
		<ul class="orderCon" id="orderCon">
			
		</ul>
	</section>
	<!-- 导航 -->
    <nav class="navWrap">
        <ul class="navCon clearfix">
            <li class="navlist fl">
                <a href="index.html">
                    <img src="img/hui/3.png" alt="">
                </a>
            </li>
            <li class="navlist fl">
                <a href="theme.html">
                    <img src="img/hui/4.png" alt="">
                </a>
            </li>
            <li class="navlist fl">
                <a href="share.html">
                    <img src="img/hui/5.png" alt="">
                </a>
            </li>
            <li class="navlist fl">
                <a href="about.html">
                    <img src="img/hui/6.png" alt="">
                </a>
            </li>
            <li class="navlist fl">
                <a href="user.html">
                    <img src="img/lv/7.png" alt="">
                </a>
            </li>
        </ul>
    </nav>
	<!-- 订单列表模版 -->
	<script type="text/x-jsrender" id="orderListTmp">
		<li>
			<div class="clearfix">
				<img src="{{:headImg}}"/>
				<span class="campDetail">
					<span class="title">{{:campTitle}}</span>
					<span class="departure">{{:destination}}</span>
					<span class="starTime">{{:createTime}}</span>	
					<span class="price">¥{{:amount}}</span>
				</span>
				<span class="orderStatus{{if status==2}} working {{else status==3}} finish{{/if}}">{{:statusMark}}</span>
				{{if status==3}}<span class="goEvaluate"><a href="evaluate.html?id={{:id}}">{{:evaluateMark}}</a></span>{{/if}}
			</div>	
			<div class="userDetailBox">
				<p class="up_down">
					<img src="img/down.png" alt="" class="down">
					<img src="img/up.png" alt="" class="up">
				</p>
				<div class="userDetailCon" style="display: none;">
					<ul class="userDetailList" id="userDetailList">
						<li style="border-bottom: 1px solid #ccc;">
							报名游客信息
						</li>
						<li class="clearfix black">
							<span class="fl">用户名</span>
							<span class="fr">联系方式</span>
						</li>
						{{for mark}}
						<li class="clearfix">
							<span class="fl">{{:userName}}</span>
							<span class="fr">{{:phone}}</span>
						</li>
						{{/for}}
					</ul>
				</div>
			</div>
		</li>
	</script>
	<!-- 用户详情模版 -->
	<script type="text/x-jsrender" id="userTmp">
		<li class="clearfix">
			<span class="fl">{{:userName}}</span>
			<span class="fr">{{:phone}}</span>
		</li>
	</script>
</body>
</html>
